@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul,
ol {
  list-style: none;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

@font-face {
  font-family: "Druk";
  font-display: swap;
  src: url("../fonts/Druk-Super.woff") format("woff"), url("../fonts/Druk-Super.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Druk";
  font-display: swap;
  src: url("../fonts/Druk-Medium.woff") format("woff"), url("../fonts/Druk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  background: #1a1f24;
  font-size: 18px;
  line-height: 150%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  color: #9c9c9c;
}

h1 {
  font-size: 56px;
  line-height: 71px;
  font-weight: 900;
  font-family: "Druk", sans-serif;
  color: #dabb90;
  padding-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 37px;
  line-height: 47px;
  font-weight: 900;
  font-family: "Druk", sans-serif;
  color: #dabb90;
  position: relative;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.container {
  width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.empty-btn {
  display: inline-block;
  width: 335px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  color: #dabb90;
  font-family: "Druk", sans-serif;
  padding: 19px;
  border: 2px solid #dabb90;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.empty-btn:hover {
  color: #1a1f24;
  background-color: #dabb90;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  overflow-x: hidden;
}

.header {
  padding: 70px 0 0 0;
  position: relative;
  z-index: 3;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 234px;
          flex: 0 0 234px;
}

.header__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding-left: 15px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.header__nav-list li + li {
  margin-left: 25px;
}

.header__nav-link {
  font-family: "Druk", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: #ededed;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.header__nav-link:hover {
  opacity: .6;
}

.header .with-active .header__nav-link {
  opacity: .5;
}

.header .with-active .header__nav-link:hover {
  opacity: .8;
}

.header .with-active .header__nav-link.active {
  opacity: 1;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.main .welcome {
  padding: 236px 0 132px 0;
  background: url(../img/main-bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  margin-top: -130px;
}

.main .welcome__row {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .welcome__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 556px;
          flex: 0 0 556px;
  padding-right: 154px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.main .welcome__text p {
  padding-bottom: 30px;
}

.main .welcome__text .empty-btn {
  margin-top: 5px;
}

.main .welcome__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main .welcome__img img {
  border-radius: 4px;
}

.main .welcome .arrow-down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 43px;
}

.main .mailing {
  padding-top: 94px;
  padding-bottom: 102px;
}

.main .mailing__wrap {
  background-color: #dabb90;
  padding: 35px 65px 54px;
  border-radius: 3px;
  color: #1a1f24;
  position: relative;
}

.main .mailing__wrap:after {
  content: '';
  position: absolute;
  width: 582px;
  height: 495px;
  background-image: url(../img/mailing.png);
  background-size: cover;
  right: 0;
  top: -100px;
}

.main .mailing__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  text-transform: uppercase;
  font-family: "Druk", sans-serif;
  max-width: 625px;
}

.main .mailing__desc {
  font-family: "Druk", sans-serif;
  max-width: 625px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  padding-top: 10px;
}

.main .mailing__form {
  margin-top: 25px;
}

.main .mailing__input {
  padding: 16px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #1a1f24;
  background-color: transparent;
  border: 2px solid #1a1f24;
  border-radius: 3px;
  min-width: 384px;
}

.main .mailing__input::-webkit-input-placeholder {
  color: #1a1f24;
}

.main .mailing__input::-moz-placeholder {
  color: #1a1f24;
}

.main .mailing__input:-ms-input-placeholder {
  color: #1a1f24;
}

.main .mailing__input::-ms-input-placeholder {
  color: #1a1f24;
}

.main .mailing__input::placeholder {
  color: #1a1f24;
}

.main .mailing__submit {
  font-family: "Druk", sans-serif;
  padding: 16px 37px 17px;
  cursor: pointer;
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  color: #ededed;
  border: 2px solid #1a1f24;
  border-radius: 3px;
  background-color: #1a1f24;
  margin-left: 15px;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.main .mailing__submit:hover {
  opacity: .8;
}

.main .mailing__agree {
  font-size: 14px;
  line-height: 100%;
  text-transform: lowercase;
  padding-top: 15px;
}

.main .mailing__agree a {
  color: #1a1f24;
}

.main .mailing__agree a:hover {
  text-decoration: none;
}

.main .breadcrumbs {
  padding: 25px 0;
}

.main .breadcrumbs__item + .breadcrumbs__item {
  margin-left: 22px;
}

.main .breadcrumbs__item + .breadcrumbs__item:before {
  content: '';
  position: absolute;
  background-color: #dabb90;
  width: 16px;
  height: 1px;
  top: 50%;
  margin-top: 1px;
  left: -22px;
}

.main .breadcrumbs__item {
  display: inline-block;
  position: relative;
  color: #dabb90;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
}

.main .breadcrumbs__item:hover {
  text-decoration: underline;
}

.main .breadcrumbs__item-active {
  color: #9c9c9c;
}

.main .breadcrumbs__item-active:hover {
  text-decoration: none;
}

.main .records {
  padding: 40px 0;
}

.main .records h2 {
  padding: 50px 0 20px;
}

.main .records__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .records__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 710px;
          flex: 0 0 710px;
  padding-right: 60px;
}

.main .records__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 30px;
}

.main .records__img img {
  width: 100%;
}

.main .artists {
  padding-top: 140px;
  padding-bottom: 50px;
}

.main .artists__list {
  padding: 50px 0 21px;
}

.main .artists__item + .artists__item {
  margin-top: 70px;
}

.main .artists__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
  border-bottom: 2px solid rgba(156, 156, 156, 0.4);
}

.main .artists__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.main .artists__body {
  padding-top: 25px;
}

.main .artists__body-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .artists__name {
  font-family: "Druk", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 900;
  color: #ededed;
}

.main .artists__desc {
  padding-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .artists__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 335px;
          flex: 0 335px;
}

.main .artists__photo img {
  border-radius: 4px;
}

.main .artists__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 65px;
}

.main .banner img {
  border-radius: 3px;
}

.main .artist-body {
  padding: 50px 0 98px;
}

.main .artist-body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .artist-body__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1044px;
          flex: 0 0 1044px;
}

.main .artist-body__text p + p {
  padding-top: 30px;
}

.main .artist-body__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  text-align: right;
}

.main .artist-body__social li + li {
  margin-top: 30px;
}

.main .artist-body__social a {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  display: block;
}

.main .artist-body__social a:hover {
  opacity: .7;
}

.main .concerts__wrap {
  padding-top: 65px;
}

.main .concerts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
  padding-bottom: 20px;
}

.main .concerts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 335px;
          flex: 0 0 335px;
  padding: 0 10px;
  margin-bottom: 50px;
  text-decoration: none;
}

.main .concerts__item:hover .concerts__img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.main .concerts__img {
  width: 335px;
  height: 335px;
  background-size: cover;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main .concerts__img-wrap {
  overflow: hidden;
  width: 335px;
  height: 335px;
  border-radius: 4px;
}

.main .concerts__body {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .concerts__date {
  color: #dabb90;
  font-family: "Druk", sans-serif;
  text-align: center;
  padding-right: 18px;
}

.main .concerts__date-num {
  font-weight: 500;
  font-size: 21px;
  line-height: 20px;
}

.main .concerts__date-month {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.main .concerts__title {
  padding-left: 18px;
  border-left: 1px solid #ededed;
}

.main .concerts__name {
  font-family: "Druk", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  color: #ededed;
}

.main .concerts__location {
  color: #9c9c9c;
  padding-top: 10px;
  font-size: 20px;
  line-height: 100%;
}

.footer {
  margin-top: 21px;
}

.footer__wrap {
  border-top: 2px solid rgba(156, 156, 156, 0.4);
  padding-top: 29px;
  padding-bottom: 91px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.footer__col + .footer__col {
  padding-left: 20px;
}

.footer__logo {
  width: 175px;
}

.footer__copyright {
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  padding-top: 23px;
}

.footer__menu {
  padding-top: 22px;
}

.footer__menu li + li {
  margin-top: 14px;
}

.footer__menu-link {
  font-family: "Druk", sans-serif;
  color: #ededed;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.footer__menu-link:hover {
  opacity: .7;
}

.footer__social {
  padding-top: 22px;
}

.footer__social li + li {
  margin-top: 15px;
}

.footer__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #9c9c9c;
}

.footer__social-link:hover {
  text-decoration: none;
}